<div class="container col-lg-6">
    <form>
        <div class="row">
            <div class="input-group mb-3">
                <input class="form-control" name="digit" [(ngModel)]="digit" placeholder="Enter the number..." #digit2="ngModel"
                    required pattern="^\d+$" (keyup)="onKeyUp()"
                >
                <div class="input-group-append">
                    <button class="btn btn-success" [disabled] = "!dis || digit2.invalid" (click)="addDigit(digit)">Add</button>
                </div>
            </div>
            <div [hidden]="digit2.valid || digit2.untouched" class="alert alert-danger" role="alert">
                You entered no number
            </div>
        </div>
    </form>
    <div class="row">
        <p>Write here: {{ digit }}</p>
    </div>
    <div class="row">
        <div id = "added" [ngStyle]="{'display': digits.length === 0 ? 'none' : 'block'}"><h4>The added numbers</h4>
            <ul *ngFor="let d of digits">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id = "defaultCheck1" [(ngModel)]="d.checked">
                    <label class="form-check-label" for="defaultCheck1">
                        <li [ngClass] = "{'isEven' : d.digit % 2 === 0 ? true : false, 'isOdd' : d.digit % 2 !== 0 ? true : false}">{{ d.digit }}</li>
                    </label>
                </div>
            </ul>
            <button class="btn btn-danger" (click)="deleteDigits()">Delete selected numbers</button>
        </div>
    </div>
</div>
