<div class="container col-lg-6">
    <form>
        <div class="row">
            <div class="input-group mb-3">
                <input class="form-control" name="digit" [(ngModel)]="digit" placeholder="Enter the number..." #digit2="ngModel"
                    required pattern="^\d+$" (keyup)="onKeyUp()"
                >
                <div class="input-group-append">
                    <button class="btn btn-success" [disabled] = "!dis || digit2.invalid" (click)="addDigit(digit)">Add</button>
                </div>
            </div>
            <div [hidden]="digit2.valid || digit2.untouched" class="alert alert-danger" role="alert">
                You entered no number
            </div>
        </div>
    </form>
    <app-block1 [wDigit]="digit"></app-block1>
    <app-block2 [digitsB2]="digits"></app-block2>
</div>
